body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

html {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    color: #000;
}

