$white: white;

$blue: #0099ff;
$blue_light: #47b1f8;

$red: #c53b37;
$red_light: #f44c48;

$grey-1_2: #ede9e6;
$grey-1_1: #e8e8e8;
$grey-1: #e6e6e6;
$grey-2: #e0e0e0;
$grey-3_1: #ccc;
$grey-3: #bebab8;
$grey-4: #a5a5a5;
$grey-5: #9b9b9b;
$grey-6: #808080;
$grey-6_1: #6d6d6d;
$grey-6_2: #585c5f;
$grey-7: #333;
$grey-8: #232323;
$grey-8_1: #1a1b1d;
$grey-9: #1a1a1a;